.navbar-nav{
    .nav-link-about{
      border-right: 1px solid var(--black);
      padding: 0px 13px !important;
      @media(max-width: 767px) {
        border: 0 !important;
        padding: 7px 13px !important;
    }
    }
}